* , 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-font: 20px;
  --btn-color: linear-gradient(90deg, rgba(239,237,57,1) 0%, rgba(253,92,29,1) 50%, rgba(252,148,69,1) 100%);
  --main-bgd:  rgb(20, 19, 19);
  --font-color: white;
  --filter: grayscale(100%);
}

[data-theme="color"] {
  --main-bgd : rgb(255, 255, 255);
  --font-color: black;
  --filter: grayscale(0);

}


body {
  background: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  //border: 2px solid yellow;
  height: 140px;
}

.header__brand {
  font-family: 'Allura', cursive;
  font-size: 3.5rem;
}

.navigation__list {
  color: white;
  //border: 2px solid green;
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
  font-size: 1.3em;
}

.navigation__list-item {
  cursor: pointer;
}

/* hero */

.hero {
  display: flex;
  justify-content: center;
  height: calc( 100vh - 140px);
  padding: 2em;
}







